<div class="titulo">

    <h2>Carrito</h2>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="imagen">
      <th mat-header-cell *matHeaderCellDef style="width: 150px;"> Imagen </th>
      <td mat-cell *matCellDef="let element"><img [src]= "'http://localhost:3000/admin/proudcts/image?image=' + element.imagen" alt="" class="imagen"> </td>
    </ng-container>
    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>
    <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>
  
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
        <td mat-cell *matCellDef="let element;let i = index;"> 
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="delete" (click)="openDialogDelete(i,element.price,element.id_product)" style="color: red;cursor: pointer;">delete</mat-icon> </td>      
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="divPago">

      <span class="textoPago">Total a pagar: ${{total}}</span>
      <button mat-raised-button color="primary" class="buttonPago">Pagar</button>
    </div>
