<div class="ml">
  <div class="grid">
    <h2>Editar categoria</h2>
    <button mat-raised-button (click)='irCategorias()' style="width: fit-content; height: fit-content;">Regresar</button>
  </div>
  <form class="example-form"  [formGroup]="this.formCategory" style="margin-top: 20px;">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Id</mat-label>
      <input  formControlName="id" matInput placeholder="Ex. Pizza"  readonly>
    </mat-form-field>
    <br>
    
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nombre</mat-label>
      <input formControlName="nombre" matInput   >
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" (click)='editarCategoria()'>Editar</button>
  </form>
  
</div>
