table {
    width: 100%;
    margin: 10px;
  }

  .delete{
    color: red;
    cursor: pointer;
}

.edit{
  color: darkblue;
  cursor: pointer;
}

.grid{
  display: grid;
  grid-template-columns: 15vh 30vh;
}